.mt-11 {
  margin-top: 11px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-13 {
  margin-top: 13px;
}
.ml-155 {
  margin-left: 155px;
}
.mt-202 {
  margin-top: 202px;
}
.mt-19 {
  margin-top: 19px;
}
.page {
  padding: 132px 0 56px;
  background-color: #000000;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section_2 {
  margin-left: 36px;
  padding: 22px 0 56px 35px;
  background-color: #00152866;
  box-shadow: 0px 0px 34px #276288bd inset;
  width: 478px;
  border: solid 2px #004e66;
}
.group_2 {
  padding: 0 16px;
}
.image_3 {
  width: 137px;
  height: 33px;
}
.group_5 {
  padding: 134px 0 173px;
}
.section_5 {
  margin-right: 12px;
  background-color: #00000000;
  height: 34px;
}
.image_4 {
  width: 401px;
  height: 341px;
}
.pos_4 {
  position: absolute;
  left: 4px;
  right: 6px;
  bottom: 0;
}
.image_5 {
  margin-left: 18px;
}
.group_7 {
  margin-top: 15px;
}
.image_7 {
  width: 440px;
  height: 62px;
}
.image_9 {
  margin-right: 3px;
}
.group_1 {
  padding: 2.5px 0 3.5px;
}
.section_7 {
  margin-left: 17px;
  margin-right: 15px;
  background-color: #00000000;
  height: 56px;
}
.pos_8 {
  position: absolute;
  left: 0;
  right: 3px;
  top: 0;
  bottom: 0;
}
.image_11 {
  margin-right: 3px;
}
.image_13 {
  margin-right: 3px;
}
.image_14 {
  margin-right: 3px;
}
.image_15 {
  margin-right: 3px;
}
.image_16 {
  margin-right: 3px;
}
.group_8 {
  margin-top: 27px;
  padding-left: 18px;
  padding-right: 14px;
}
.image-wrapper {
  padding-top: 24px;
  background-color: #00000000;
  height: 56px;
}
.image_18 {
  width: 385px;
  height: 95px;
}
.image_19 {
  margin-left: 3px;
  margin-right: 23px;
}
.image_20 {
  margin-left: 4px;
  margin-right: 22px;
}
.group {
  padding: 4px 34px 0 465px;
}
.pos {
  position: absolute;
  left: 59px;
  right: 0;
  top: 17px;
}
.image_2 {
  opacity: 0.9;
  width: 1000px;
  height: 795px;
}
.section {
  margin-top: 102px;
  padding: 34px 4px 24.5px 8px;
  background-color: #00152866;
  box-shadow: 0px 0px 34px #276288bd inset;
  width: 480px;
  height: 1357px;
  border: solid 2px #004e66;
}
.group_3 {
  padding: 0 13px;
}
.group_4 {
  padding: 144px 0 138px;
}
.section_6 {
  background-color: #00000000;
  width: 399px;
  height: 34px;
}
.section_3 {
  padding: 95px 49.5px 177.5px;
  background-image: url('https://ide.code.fun/api/image?token=699e6c1c9a40b800116eae38&name=b2eb3540a24e1b7467c36f7d3985c3fe.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_3 {
  position: absolute;
  left: 0;
  right: 18.5px;
  top: 0;
}
.group_6 {
  margin-left: 61.5px;
}
.font {
  font-size: 22px;
  font-family: AlibabaPuHuiTi;
  line-height: 15.5px;
  color: #66ffff;
}
.text {
  margin-top: 6px;
  color: #66ffff;
  font-size: 28px;
  font-family: AlibabaPuHuiTi;
  line-height: 20px;
}
.image_10 {
  width: 440px;
  height: 50px;
}
.image {
  width: 93.75vw;
  height: 4.7852vw;
}
.pos_2 {
  position: absolute;
  left: 0;
  right: 69px;
  top: 0;
}
.image_6 {
  width: 392px;
  height: 87px;
}
.pos_6 {
  position: absolute;
  right: 0;
  top: 579px;
}
.image_8 {
  width: 399px;
  height: 34px;
}
.pos_7 {
  position: absolute;
  right: 89px;
  top: 617px;
}
.section_4 {
  padding: 704.5px 35px 62px;
  background-image: url('https://ide.code.fun/api/image?token=699e6c1c9a40b800116eae38&name=88724e90e5cbe35e98003226a62cbb42.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 928px;
}
.pos_5 {
  position: absolute;
  left: 493px;
  top: 98px;
}
.text_2 {
  color: #ffffff;
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 23px;
}
.image_12 {
  width: 401px;
  height: 106px;
}
.pos_9 {
  position: absolute;
  right: 349px;
  bottom: 508px;
}
.image_17 {
  width: 953px;
  height: 381px;
}
.pos_10 {
  position: absolute;
  right: 509px;
  bottom: 74px;
}