.mt-11 {
  margin-top: 0.6875rem;
}
.mt-7 {
  margin-top: 0.4375rem;
}
.mt-13 {
  margin-top: 0.8125rem;
}
.ml-155 {
  margin-left: 9.6875rem;
}
.mt-202 {
  margin-top: 12.625rem;
}
.mt-19 {
  margin-top: 1.1875rem;
}
.page {
  padding: 8.25rem 0 3.5rem;
  background-color: #000000;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
.section_2 {
  margin-left: 2.25rem;
  padding: 1.375rem 0 3.5rem 2.1875rem;
  background-color: #00152866;
  box-shadow: 0px 0px 2.125rem #276288bd inset;
  width: 29.875rem;
  border: solid 0.125rem #004e66;
}
.group_2 {
  padding: 0 1rem;
}
.image_3 {
  width: 8.5625rem;
  height: 2.0625rem;
}
.group_5 {
  padding: 8.375rem 0 10.8125rem;
}
.section_5 {
  margin-right: 0.75rem;
  background-color: #00000000;
  height: 2.125rem;
}
.image_4 {
  width: 25.0625rem;
  height: 21.3125rem;
}
.pos_4 {
  position: absolute;
  left: 0.25rem;
  right: 0.375rem;
  bottom: 0;
}
.image_5 {
  margin-left: 1.125rem;
}
.group_7 {
  margin-top: 0.9375rem;
}
.image_7 {
  width: 27.5rem;
  height: 3.875rem;
}
.image_9 {
  margin-right: 0.1875rem;
}
.group_1 {
  padding: 0.15625rem 0 0.21875rem;
}
.section_7 {
  margin-left: 1.0625rem;
  margin-right: 0.9375rem;
  background-color: #00000000;
  height: 3.5rem;
}
.pos_8 {
  position: absolute;
  left: 0;
  right: 0.1875rem;
  top: 0;
  bottom: 0;
}
.image_11 {
  margin-right: 0.1875rem;
}
.image_13 {
  margin-right: 0.1875rem;
}
.image_14 {
  margin-right: 0.1875rem;
}
.image_15 {
  margin-right: 0.1875rem;
}
.image_16 {
  margin-right: 0.1875rem;
}
.group_8 {
  margin-top: 1.6875rem;
  padding-left: 1.125rem;
  padding-right: 0.875rem;
}
.image-wrapper {
  padding-top: 1.5rem;
  background-color: #00000000;
  height: 3.5rem;
}
.image_18 {
  width: 24.0625rem;
  height: 5.9375rem;
}
.image_19 {
  margin-left: 0.1875rem;
  margin-right: 1.4375rem;
}
.image_20 {
  margin-left: 0.25rem;
  margin-right: 1.375rem;
}
.group {
  padding: 0.25rem 2.125rem 0 29.0625rem;
}
.pos {
  position: absolute;
  left: 3.6875rem;
  right: 0;
  top: 1.0625rem;
}
.image_2 {
  opacity: 0.9;
  width: 62.5rem;
  height: 49.6875rem;
}
.section {
  margin-top: 6.375rem;
  padding: 2.125rem 0.25rem 1.53125rem 0.5rem;
  background-color: #00152866;
  box-shadow: 0px 0px 2.125rem #276288bd inset;
  width: 30rem;
  height: 84.8125rem;
  border: solid 0.125rem #004e66;
}
.group_3 {
  padding: 0 0.8125rem;
}
.group_4 {
  padding: 9rem 0 8.625rem;
}
.section_6 {
  background-color: #00000000;
  width: 24.9375rem;
  height: 2.125rem;
}
.section_3 {
  padding: 5.9375rem 3.09375rem 11.09375rem;
  background-image: url('https://ide.code.fun/api/image?token=699e6c1c9a40b800116eae38&name=b2eb3540a24e1b7467c36f7d3985c3fe.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_3 {
  position: absolute;
  left: 0;
  right: 1.15625rem;
  top: 0;
}
.group_6 {
  margin-left: 3.84375rem;
}
.font {
  font-size: 1.375rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.96875rem;
  color: #66ffff;
}
.text {
  margin-top: 0.375rem;
  color: #66ffff;
  font-size: 1.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 1.25rem;
}
.image_10 {
  width: 27.5rem;
  height: 3.125rem;
}
.image {
  width: 93.75vw;
  height: 4.7852vw;
}
.pos_2 {
  position: absolute;
  left: 0;
  right: 4.3125rem;
  top: 0;
}
.image_6 {
  width: 24.5rem;
  height: 5.4375rem;
}
.pos_6 {
  position: absolute;
  right: 0;
  top: 36.1875rem;
}
.image_8 {
  width: 24.9375rem;
  height: 2.125rem;
}
.pos_7 {
  position: absolute;
  right: 5.5625rem;
  top: 38.5625rem;
}
.section_4 {
  padding: 44.03125rem 2.1875rem 3.875rem;
  background-image: url('https://ide.code.fun/api/image?token=699e6c1c9a40b800116eae38&name=88724e90e5cbe35e98003226a62cbb42.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 58rem;
}
.pos_5 {
  position: absolute;
  left: 30.8125rem;
  top: 6.125rem;
}
.text_2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 1.4375rem;
}
.image_12 {
  width: 25.0625rem;
  height: 6.625rem;
}
.pos_9 {
  position: absolute;
  right: 21.8125rem;
  bottom: 31.75rem;
}
.image_17 {
  width: 59.5625rem;
  height: 23.8125rem;
}
.pos_10 {
  position: absolute;
  right: 31.8125rem;
  bottom: 4.625rem;
}

/* iPad 媒体查询 */
@media screen and (max-width: 1024px) {
  .section_2 {
    width: 25rem;
  }
  
  .section {
    width: 25rem;
    height: 70rem;
  }
  
  .image_2 {
    width: 50rem;
    height: 40rem;
  }
  
  .section_4 {
    width: 48rem;
  }
  
  .image_17 {
    width: 48rem;
    height: 19rem;
  }
}

/* iPad 竖屏 */
@media screen and (max-width: 768px) {
  .page {
    padding: 4rem 0 2rem;
  }
  
  .section_2 {
    margin-left: 1.5rem;
    padding: 1rem 0 2rem 1.5rem;
    width: 20rem;
  }
  
  .section {
    margin-top: 4rem;
    width: 20rem;
    height: 56rem;
  }
  
  .group {
    padding: 0.25rem 1.5rem 0 20rem;
  }
  
  .image_2 {
    width: 38rem;
    height: 30rem;
  }
  
  .section_4 {
    width: 38rem;
    padding: 35rem 1.5rem 2.5rem;
  }
  
  .image_17 {
    width: 38rem;
    height: 15rem;
  }
  
  .pos {
    left: 2.5rem;
  }
  
  .pos_5 {
    left: 20rem;
  }
  
  .pos_10 {
    right: 20rem;
  }
}

/* 小屏幕设备 */
@media screen and (max-width: 480px) {
  .page {
    padding: 2rem 0 1rem;
  }
  
  .section_2 {
    margin-left: 1rem;
    padding: 0.5rem 0 1rem 1rem;
    width: 15rem;
  }
  
  .section {
    margin-top: 2rem;
    width: 15rem;
    height: 42rem;
  }
  
  .group {
    padding: 0.25rem 1rem 0 15rem;
  }
  
  .image_2 {
    width: 28rem;
    height: 22rem;
  }
  
  .section_4 {
    width: 28rem;
    padding: 25rem 1rem 1.5rem;
  }
  
  .image_17 {
    width: 28rem;
    height: 11rem;
  }
  
  .pos {
    left: 1.5rem;
  }
  
  .pos_5 {
    left: 15rem;
  }
  
  .pos_10 {
    right: 15rem;
  }
}